<section>
  <div class="platform__wrapper">
    <div class="platform__text">
      <div class="title__wrapper" [ngSwitch]="screen">
        <app-title
          *ngSwitchCase="'mediumScreen'"
          size="medium"
          [label]="titlePlatform"
        ></app-title>
        <app-title
          *ngSwitchCase="'smallScreen'"
          size="small"
          [label]="titlePlatform"
        ></app-title>
        <app-title
          *ngSwitchDefault
          size="large"
          [label]="titlePlatform"
        ></app-title>
      </div>
      <div class="text__wrapper">
        <app-text
          *ngIf="screen === 'wideScreen'; else smallText"
          size="large"
          [label]="textPlatform"
        ></app-text>
        <ng-template #smallText>
          <app-text size="small" [label]="textPlatform"></app-text>
        </ng-template>
      </div>
      <app-button [primary]="true" [label]="buttonServices.title"
        ><img class="button__arrow" [src]="buttonServices.image"
      /></app-button>
    </div>
    <div class="platform__picture">
      <div class="picture__wrapper">
        <img
          class="human__picture"
          src="../../../assets/images/human.png"
          alt="human"
        />
        <div class="picture__rectangle"></div>
        <img
          class="picture add__picture"
          src="../../../assets/images/add.png"
          alt="add"
        />
        <img
          class="picture circles__picture"
          src="../../../assets/images/circles.png"
          alt="circles"
        />
        <img
          class="picture play__picture"
          src="../../../assets/images/play.png"
          alt="play"
        />
        <img
          class="picture zigzag__picture"
          src="../../../assets/images/zigzag.png"
          alt="zigzag"
        />
      </div>
    </div>
  </div>
</section>

