<section>
  <div class="contact__wrapper">
    <img
      class="picture add__picture"
      src="../../../assets/images/add.png"
      alt="add"
    />
    <img
      class="picture circles__picture"
      src="../../../assets/images/circles.png"
      alt="circles"
    />
    <div class="contact">
      <div class="title__wrapper" [ngSwitch]="screen">
        <app-title
          *ngSwitchCase="'mediumScreen'"
          size="medium"
          [label]="titleContact"
        ></app-title>
        <app-title
          *ngSwitchCase="'smallScreen'"
          size="extra-small"
          [label]="titleContact"
        ></app-title>
        <app-title
          *ngSwitchDefault
          size="medium"
          [label]="titleContact"
        ></app-title>
      </div>
      <app-button
        [round]="round"
        [label]="buttonContactTitle"
        [primary]="primary"
      ></app-button>
    </div>
  </div>
</section>
