.carousel {
  min-height: 417px;
  display: flex;
}

.carousel__item {
  min-height: max-content;
  display: flex;
}

.carousel__item-upper {
  align-self: flex-start;
}

.carousel__item-middle {
  align-self: center;
}

.carousel__item-lower {
  align-self: flex-end;
}

.carousel__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 384px;
  min-height: 301px;
  border-radius: 12px;
  background-color: #1e1e20;
}

@media screen and (max-width: 475px) {
  .carousel__image-wrapper {
    min-width: 375px;
    min-height: 294px;
  }
  .carousel__image-wrapper img {
    max-width: 327px;
    max-height: 246px;
  }
}
