<header *ngIf="wideScreen; else smallScreen" [ngClass]="headerClass">
  <app-logo></app-logo>
  <app-navigation></app-navigation>
  <app-button *ngIf="wideScreen" label="Contact us"></app-button>
</header>
<ng-template #smallScreen>
  <header [ngClass]="headerClass">
    <app-logo></app-logo>
    <app-navigation [burger]="true" *ngIf="showMenu === true"></app-navigation>
    <div (click)="onShowMenu()">
      <img *ngIf="!showMenu; else showClose" src="../../../assets/images/burger.svg" alt="menu">
      <ng-template #showClose>&#10006;</ng-template>
    </div>
  </header>
</ng-template>

