.best--choice__wrapper {
  margin-top: 150px;
}

.best--choice__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.best--choice__video {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}

.best--choice__video:hover .controls {
  transform: translateY(0);
}

.video {
  width: 100%;
  margin-bottom: -13px;
}

.play__button {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.774);
  transform: translateY(100%);
  transition: all 0.9s;
}

.play-pause__button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 635px) {
  .best--choice__wrapper {
    margin-top: 140px;
  }

  .best--choice__text {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}
