.card__wrapper {
  display: flex;
  min-width: 384px;
  justify-content: center;
}
.card__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 300px;
  text-align: center;
}
