.button {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.500211px;
  color: #ffffff;
  border-radius: 4px;
  padding: 10px 40px;
}

.button:disabled {
  background-color: rgb(70, 75, 83);
  cursor: not-allowed;
}

.button--primary {
  font-size: 20px;
  border: 1px solid #5454D4;
  background-color:  #5454D4;
  display: flex;
  align-items: center;
}

.button--secondary {
  border: 1px solid #ffffff;
  background-color: transparent;
}

.button--round {
  border: 1px solid #5454D4;
  background-color:  #5454D4;
  border-radius: 50%;
  padding: 0px;
}

.button--large {
  width: 124px;
  height: 124px;
}

.button--small {
  width: 40px;
  height: 40px;
}

.button--extra-small {
  width: 38px;
  height: 38px;
  border: none;
}

@media screen and (max-width: 1011px) {
  .button--primary {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 775px) {
  .button--primary {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 375px) {
  .button--primary {
    margin-bottom: 50px;
  }
}
