.container {
  overflow: hidden;
  position: relative;
}

.content__wrapper {
  margin: 40px 120px;
}

.spot {
  position: absolute;
  top: 0%;
  z-index: -1;
}

.light__spot--brown {
  right: 0%;
}

@media screen and (max-width: 1010px) {
  .content__wrapper {
    margin: 40px;
  }
}