<section>
  <div class="portfolio__wrapper">
    <div class="title__wrapper" [ngSwitch]="screen">
      <app-title
        *ngSwitchCase="'mediumScreen'"
        size="medium"
        [label]="titlePortfolio"
      ></app-title>
      <app-title
        *ngSwitchCase="'smallScreen'"
        size="extra-small"
        [label]="titlePortfolio"
      ></app-title>
      <app-title
        *ngSwitchDefault
        size="medium"
        [label]="titlePortfolio"
      ></app-title>
      <img
        class="picture circles__picture"
        src="../../../assets/images/circles.png"
        alt="circles"
      />
    </div>
    <div class="portfolio-carousel__container">
      <div class="portfolio-carousel__wrapper">
        <div *ngFor="let portfolioPicture of portfolioPictures">
          <app-image-card
            [class]="portfolioPicture.class"
            [picture]="portfolioPicture.picture"
          ></app-image-card>
        </div>
      </div>
    </div>
    <div
      (click)="carouselMovesForward()"
      *ngIf="screen !== 'smallScreen'"
      class="carousel__buttons"
    >
      <div *ngFor="let button of buttons">
        <img src="{{ button }}" alt="button" />
      </div>
    </div>
    <div
      class="carousel__buttons carousel__buttons--round"
      *ngIf="screen === 'smallScreen'"
    >
      <app-button
        class="carousel-control__button"
        (click)="carouselMovesBackwards()"
        [round]="round"
        size="extra-small"
        [disabled]="leftButtonDisabled"
        ><img class="arrow" [src]="arrowLeft"
      /></app-button>
      <app-button
        class="carousel-control__button"
        (click)="carouselMovesForward()"
        [round]="round"
        size="extra-small"
        [disabled]="rightButtonDisabled"
        ><img class="arrow" [src]="arrowRight"
      /></app-button>
    </div>
    <img
      class="picture zigzag__picture"
      src="../../../assets/images/zigzag.png"
      alt="zigzag"
    />
  </div>
</section>
