.portfolio__wrapper {
  position: relative;
}

.title__wrapper {
  margin-top: 150px;
  position: relative;
}

.portfolio-carousel__wrapper {
  display: flex;
  column-gap: 26px;
  margin-top: 70px;
  justify-content: center;
  width: 100%;
}

.carousel__buttons {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-top: 50px;
  margin-bottom: 170px;
  position: relative;
}

.carousel__buttons--round {
  column-gap: 12px;
}

.circle {
  background-color: #5454d4;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: relative;
  border: none;
}

.circle:disabled {
  background-color: rgb(70, 75, 83);
  cursor: not-allowed;
}

.carousel-control__button {
  position: absolute;
  z-index: 1;
  position: relative;
}

.arrow {
  pointer-events: none;
  position: absolute;
  top: 42%;
  left: 42%;
}

.arrow-right {
  transform: rotate(315deg);
}

.arrow-left {
  left: 40%;
  transform: rotate(135deg);
}

.picture {
  position: absolute;
}

.circles__picture {
  right: 3%;
  transform: rotate(340deg);
}

.zigzag__picture {
  bottom: -20px;
  left: -40px
}

@media screen and (max-width: 1220px) {
  .portfolio-carousel__wrapper {
    align-self: center;
    overflow: hidden;
    justify-content: flex-start;
    width: 800px;
  }
  .portfolio-carousel__container {
    display: flex;
    justify-content: center;
  }
  .carousel__buttons {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1110px) {
  .zigzag__picture {
    bottom: 0px;
    left: 0px
  }
}

@media screen and (max-width: 880px) {
  .portfolio-carousel__wrapper {
    align-self: center;
    overflow: hidden;
    justify-content: flex-start;
    width: 400px;
  }
  .portfolio-carousel__container {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .carousel__buttons {
    margin-top: -50px;
  }
}

@media screen and (max-width: 775px) {
  .zigzag__picture {
    max-width: 70px;
    bottom: -70px;
  }
}

@media screen and (max-width: 520px) {
  .title__wrapper {
    margin-top: 140px;
  }
}

@media screen and (max-width: 495px) {
  .circles__picture {
    max-width: 50px;
    top: 60%;
    right: -10%;
    transform: rotate(340deg);
  }
}

@media screen and (max-width: 475px) {
  .portfolio-carousel__wrapper {
    justify-content: flex-start;
    position: absolute;
    margin-top: 0;
    top: 70px;
    left: 0px;
  }
  .portfolio-carousel__container {
    margin-bottom: 470px;
  }
  .carousel__buttons {
    margin-bottom: 140px;
  }
}

@media screen and (max-width: 435px) {
  .portfolio-carousel__wrapper {
    left: -10px;
  }
}

@media screen and (max-width: 410px) {
  .portfolio-carousel__wrapper {
    left: -30px;
  }
}

@media screen and (max-width: 390px) {
  .portfolio-carousel__wrapper {
    left: -40px;
  }
}
