<div class="content__wrapper">
  <app-header></app-header>
  <app-platform-section [screen]="screen"></app-platform-section>
  <app-why-choose-enver-section [screen]="screen"></app-why-choose-enver-section>
  <app-services-section [screen]="screen"></app-services-section>
  <app-portfolio-section [screen]="screen"></app-portfolio-section>
</div>
<div class="light__spots">
  <img class="spot light__spot" src="../assets/images/spot.png" />
  <img class="spot light__spot--brown" src="../assets/images/spot-brown.png" />
  <img class="spot light__spot--blue" src="../assets/images/spot-round-blue.png" />
  <img class="spot light__spot--brown--big" src="../assets/images/spot-big-brown.png" />
  <img class="spot light__spot--blue--rectangle" src="../assets/images/spot-rectangle-blue.png" />
</div>